body {
    background-color: yellow;
  }
  h1 {
    color: red;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  p2{
    color: brown;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px
  }
  